<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container-end">
        <div id="text">ENTER ENDING HERE</div>
        <img src="https://cdn.pixabay.com/photo/2014/12/21/23/27/treasure-chest-575386_960_720.png"
            alt="Image of Mysterious Box">


        <div id="option-buttons" class="btn-grid">
            <button class="btn-end" onclick="window.location.href='/page0';">
                Play again!
            </button>
        </div>
</body>

</html>