<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game       
    </title>
</head>


<body>
    
    <div class="container">
        <h2>
            You got Game Developer!</h2>
        <div id="text">
        </div>
        <h3>
            You are a really creative person, and love to push the boundaries of what can be made with computers.
        <br>  
            Game developers are some of the most beloved programmers out there, responsible for every video game we play. Whether you're interested in the beautiful 2D art of an indie platform game, or the technical 3D animation accompanying a game of difficult decisions, there are no shortage of spaces for talented artists.
        </br><br>
            Famous women in Game development:<br>
            Amy Hennig: Game director and creative director for the Uncharted series, which has now been made into a movie.
    </br>
    <br>
            Learn more about the courses avaliable for game developers:<br>
            <a href='https://www.rmit.edu.au/study-with-us/levels-of-study/undergraduate-study/bachelor-degrees/bachelor-of-design-games-bp214'>Bachelor of Game Design at RMIT</a>
            <br>
    
        </h3>
        

        <div id="option-buttons" class="btn-grid">
            <button class="btn-end" onclick="window.location.href='/page0';">
                Play again!
            </button>
        </div>
</body>

</html>