<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>


<body>
    
    <div class="container-end">
        <h1>Congratulations!</h1>
        <h2>You got Game Developer!</h2>
        <div id="text">
        </div>
        <h3>Game Developer:
            You are a really creative person, and love to push the boundaries of what can be made with computers.
        <br></br><br>  
            Game developers are some of the most beloved programmers out there, responsible for every video game we play. Whether you're interested in the beautiful 2D art of an indie platform game, or the technical 3D animation accompanying a game of difficult decisions, there are no shortage of spaces for talented artists.</br></h3>
        <img src='https://cdn.pixabay.com/photo/2015/03/07/07/48/fractal-662894_960_720.jpg'
            alt="Image of Mysterious Orb">


        <div id="option-buttons" class="btn-grid">
            <button class="btn-end" onclick="window.location.href='/page0';">
                Play again!
            </button>
        </div>
</body>

</html>