<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">You decide to lock all the internal doors sealing the guards in their paths allowing your team to walk to the diamond unimpeded  you are within grasp of victory.</div>
        <img src="https://thumbs.dreamstime.com/b/guard-walkie-talkie-background-doors-bank-vault-large-safe-strong-metal-concept-protection-179701093.jpg"
            alt="Guard trapped by locked door using his walkie talkie">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/ending1';">
                Continue
            </button>

        </div>
</body>

</html>