<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">Your team has made it past the guards, but you aren't out of the woods yet. Where do you send them next?</div>
        <img src="https://cdn.pixabay.com/photo/2016/11/22/21/46/arches-1850730_960_720.jpg"
            alt="Image of Mysterious Box">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page2-1';">
                Lock all the doors from the inside, and carefully make your way to the diamond room.
            </button>

            <button class="btn" onclick="window.location.href='/ending1';">
                Through the main hall, may as well admire the other art while you're in there.
            </button>

            <button class="btn" onclick="window.location.href='/ending1';">
                Sneak around the back corridors towards the diamond room to avoid the cameras.
            </button>

            <button class="btn" onclick="window.location.href='/ending1';">
                To the server room. You have a plan.
            </button>

        </div>
</body>

</html>