<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">You send your group to quickly and carefully climb the roof and sneak in through an unlocked skylight they rappel down and enter into the foyer </div>
        <img src="https://thumbs.dreamstime.com/b/thief-roof-dressed-black-walking-house-81187801.jpg"
            alt="Image of a thief on a roof">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page1';">
                Continue
            </button>

        </div>
</body>

</html>