<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">You find a mysterious box with a note saying "DO NOT OPEN"</div>
        <img src="https://cdn.pixabay.com/photo/2014/12/21/23/27/treasure-chest-575386_960_720.png"
            alt="Image of Mysterious Box">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page1';">
                Option 1
            </button>

            <button class="btn" onclick="window.location.href='/page2';">
                Option 2
            </button>

            <button class="btn" onclick="window.location.href='/page3';">
                Option 3
            </button>

            <button class="btn" onclick="window.location.href='/page4';">
                Option 4
            </button>

        </div>
</body>

</html>