<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">The sun has just gone down past the horizon, and you're sitting in a van a few blocks away from the museum. Inside of that building, is one of the most historic, valuable diamonds in the world. You're team is waiting for your instruction. Where do you tell them to enter the building from?</div>
        <img src="https://cdn.pixabay.com/photo/2016/02/14/09/45/diamond-1199183_960_720.jpg"
            alt="Image of Mysterious Box">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page0-3';">
                Break through the weakest place in the roof.
            </button>

            <button class="btn" onclick="window.location.href='/page2';">
                Sweet talk the guards into letting them through the front door.
            </button>

            <button class="btn" onclick="window.location.href='/page3';">
                Busting through the front door with dramatic style.
            </button>

            <button class="btn" onclick="window.location.href='/page4';">
                Sneak in through the back entrance that the deliveries come in through.
            </button>

        </div>
</body>

</html>