<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">Looking down at your system you decide to leave the cameras as they are, the doors are sealed and locked tight the police aren't getting in, your team now move onto deciding what to do next </div>
        <img src="https://news.artnet.com/app/news-upload/2015/08/A_og_B__2-1_960898y.jpg"
            alt="Image of thieves inside a museum">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page2';">
                Continue
            </button>

        </div>
</body>

</html>