<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Story Game</title>
</head>

<body>
    <div class="container">
        <div id="text">The museum has a number of active guards on rotation. How do you deal with them?</div>
        <img src="https://cdn.pixabay.com/photo/2012/04/01/18/03/policeman-23796_1280.png"
            alt="Image of Guard">

        <div id="option-buttons" class="btn-grid">

            <button class="btn" onclick="window.location.href='/page1';">
                Paint a painting and pretend to be putting it up
            </button>

            <button class="btn" onclick="window.location.href='/page2';">
                Analyse the guard patterns and avoid them
            </button>

            <button class="btn" onclick="window.location.href='/page3';">
                Slow down the guard sign on system to create a gap in the guard rotation
            </button>
           
            <button class="btn" onclick="window.location.href='/page4';">
                Hack the camera system, and sneak past the guards
            </button>

            <button class="btn" onclick="window.location.href='/page1-4';">
                Leave the cameras and weave past the guards, the police cant get in anyway
            </button>

        </div>
</body>

</html>